[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/lodepng"]
	path = deps/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "deps/oglwrap"]
	path = deps/oglwrap
	url = https://github.com/Tomius/oglwrap.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
